---
# 1) Resumo
---

Neste notebooks os dados de coberturas vacinal da CDG das Região e do estado do Rio de Janiero são colocados no mesmo DataFrame.

---
# 2) Pre-analise
---

---
## 2.1) Importando libs
---

In [34]:
import pandas as pd

---
## 2.2) Funcoes de apoio
---

In [35]:
import sys
sys.path.append("..")
from meu_modulo.funcoes_de_apoio import lendo_o_df

---
# 3) Lendo dados
---

In [68]:
bcg_RJ = lendo_o_df("../../Dados/bruto/Estados/bcg_rio_de_janeiro.csv", head = False, tail = False)
bcg_sudeste = lendo_o_df("../../Dados/bruto/bcg_sudeste.csv" , head = False, tail = False)
bcg_norte = lendo_o_df("../../Dados/bruto/bcg_norte.csv", head = False, tail = False)
bcg_nordeste = lendo_o_df("../../Dados/bruto/bcg_nordeste.csv", head = False, tail = False)
bcg_centro_oeste = lendo_o_df("../../Dados/bruto/bcg_centro_oeste.csv", head = False, tail = False)
bcg_sul = lendo_o_df("../../Dados/bruto/bcg_sul.csv", head = False, tail = False)

In [69]:
bcg_sudeste.columns = ['Sudeste']
bcg_norte.columns = ['Norte']
bcg_nordeste.columns = ['Nordeste']
bcg_centro_oeste.columns = ['Centro-Oeste']
bcg_sul.columns = ['Sul']
bcg_RJ.columns = ['RJ']

In [70]:
bcg = bcg_sudeste.copy()

dfs = (bcg_norte, bcg_nordeste, bcg_centro_oeste, bcg_sul, bcg_RJ)
for df in dfs:
    bcg = bcg.join(df)

bcg.drop(1994, inplace = True)
bcg.drop(2019, inplace = True)

bcg.reset_index(inplace = True)

In [72]:
bcg_melt = pd.melt(bcg, id_vars=['Ano'], value_vars=['Sudeste', 'Norte','Nordeste', 'Centro-Oeste', 'Sul', 'RJ'])
bcg_melt.head()

    Ano variable   value
0  1995  Sudeste  112.61
1  1996  Sudeste  107.16
2  1997  Sudeste  120.77
3  1998  Sudeste  117.59
4  1999  Sudeste  122.74

# 4) Salvar

In [75]:
bcg_melt.to_csv('../../Dados/tratados/bcg.csv', index_label = True)